libero_dpo_dataset/*
*.pyc
libero_hf_dataset/*
libero_rm/*
logs/*
pick_up_green_block/*
rendered_examples/*
square/*
videos/*
rfm/old/*
rfm/wandb/*
LIBERO/*
__pycache__/*
datasets/*
visualizations/*
rfm/rfm_dataset/*
.DS_Store
rfm_dataset/*
processed_datasets/*
wandb/*
LIBERO/*
core
rfm_dataset/*
rfm_visualizer/
uv.lock
visualizer/
*.log
old/
*.png
eval_logs/*