[submodule "deps/libero"]
    path = deps/libero
    url = https://github.com/Lifelong-Robot-Learning/LIBERO.git
[submodule "visualizer"]
	path = visualizer
	url = git@hf.co:spaces/rewardfm/visualizer
