# @package _global_

# ReWIND Transformer Configuration
# Inherits from config.yaml and overrides specific settings
defaults:
  - config 
  - _self_

trainer_cls: rewind_transformer

# =====================================================================================
# Model Configuration
# =====================================================================================
model:
  base_model_id: rewind_transformer  # custom transformer model

  # set rewind specific parameters
  rewind:
    video_feature_dim: 768
    text_feature_dim: 384
    hidden_dim: 512
    num_layers: 4
    num_attention_heads: 8
    dropout: 0.1  
    max_len: 16
    causal_mask: true
    use_per_frame_progress_token: true
    progress_loss_type: l2
    progress_discrete_bins: 32


training:
  gradient_checkpointing: false

  bf16: false
  fp16: true

  per_device_train_batch_size: 1024
  per_device_eval_batch_size: 512
  learning_rate: 1e-4
  weight_decay: 0.01
  warmup_ratio: 0.01
  
  eval_steps: 200
  custom_eval_steps: 200
  max_steps: 20000

data:  
  load_embeddings: true
  progress_pred_type: absolute 