# ReWIND Transformer Configuration
trainer_cls: "rewind_transformer"

# =====================================================================================
# Model Configuration
# =====================================================================================
model:
  base_model_id: "rewind_transformer"  # custom transformer model

  # set rewind specific parameters
  rewind:
    video_feature_dim: 768
    text_feature_dim: 384
    hidden_dim: 512
    num_layers: 4
    num_attention_heads: 8
    dropout: 0.1  
    max_len: 16

  train_vision_encoder: true

training:
  output_dir: "./logs/rfm_rewind"
  gradient_checkpointing: false

  bf16: false
  fp16: true

  per_device_train_batch_size: 16
  per_device_eval_batch_size: 16
  learning_rate: 2e-4

data:
  sample_type_ratio: [0, 1, 0] # only progress samples 
  progress_strategy_ratio: [1, 8, 1] # default success, rewind, different task
 
# =====================================================================================
# Logging and Output Configuration
# =====================================================================================
logging:
  wandb_project: "rfm"
  wandb_entity: clvr
  wandb_run_name: "rfm_rewind"